<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Online Shoppers Intention</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.ico" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="#" onclick="redirectToPage('')">OSIs<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto"  href="#" onclick="redirectToPage('inner')">Predict</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Online Shoppers Intentions<span>.</span></h1>
          <h2>A platform for understanding customer desires.</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <!-- <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div> -->
          <div class=" pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Project Description</h3>
            <p class="fst-italic">
              In the "Online Shopper's Intention" project, user data provides key insights into website interactions, helping businesses improve user experience and conversion rates.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> <B>Id</B>: unique ID of the website visitor</li>
              <li><i class="ri-check-double-line"></i> <B>Administrative</B>: Number of times the user visited the administrative section</li>
              <li><i class="ri-check-double-line"></i> <B>Administrative Duration</B>: Total time the user spent in the administrative section</li>
              <li><i class="ri-check-double-line"></i> <B>Informational</B>: Number of times the user visited the informational section</li>
              <li><i class="ri-check-double-line"></i> <B>Informational Duration</B>: Total time the user spent in the informational section</li>
              <li><i class="ri-check-double-line"></i> <B>Productrelated</B>: Number of times the user visited the related products section</li>
              <li><i class="ri-check-double-line"></i> <B>Productrelated Duration</B>: Total time the user spent in the related products section</li>
              <li><i class="ri-check-double-line"></i> <B>Bouncerates</B>: This is the percentage of visitors who enter the page and immediately "bounce" without interacting with it. This metric is only taken into account if it is the first page they visit within the website.</li>
              <li><i class="ri-check-double-line"></i> <B>Exitrates</B>: From the total number of visits to the pages of the website, the percentage of visitors who logged out through this specific page is obtained, that is, it indicates the percentage of users whose last visit to the website was this specific page.</li>
              <li><i class="ri-check-double-line"></i> <B>Pagevalues</B>: This is the average value of the website, it indicates the contribution that this website made to the visitor arriving at the final purchase page or section.</li>
              <li><i class="ri-check-double-line"></i> <B>Special Day</B>: Is the value that indicates the proximity to a special date such as Valentine's Day. The range of this variable is 0 to 1, with 1 being the exact day of the special date and 0 if there is no range near that date.</li>
              <li><i class="ri-check-double-line"></i> <B>Month</B>: Month of the visit to the website.</li>
              <li><i class="ri-check-double-line"></i> <B>Operating Systems</B>: Type of operating system</li>
              <li><i class="ri-check-double-line"></i> <B>Browser</B>: Name of the web browser</li>
              <li><i class="ri-check-double-line"></i> <B>Region</B>: Visitor's geographic region</li>
              <li><i class="ri-check-double-line"></i> <B>Traffic Type</B>: Type of web traffic</li>
              <li><i class="ri-check-double-line"></i> <B>Visitor Type</B>: Whether you are a new visitor or a returning visitor</li>
              <li><i class="ri-check-double-line"></i> <B>Weekend</B>: 0 indicates that it is not a weekend day and 1 indicates that it is a weekend day.</li>
            </ul>
            <p>
              Explore this data to optimize online shopping platforms.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-9.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/assets/img/features.jpg");'
            data-aos="fade-right">
          </div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Enhanced User Experience</h4>
              <p>Optimize the website based on user behavior, leading to a smoother shopping experience.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Improved Conversions</h4>
              <p>Data-driven decisions can increase conversion rates and boost business revenue.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Personalized Marketing</h4>
              <p>Special day tracking and user segmentation enable more targeted and effective marketing campaigns.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Timely Engagement</h4>
              <p>Weekend detection helps in scheduling promotions when users are most active, maximizing impact.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    

    <!-- ======= predict Section ======= -->
    <section id="predict" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Discover Personalized Shopping with AI!</h2>
          <p>Experience the future of online shopping with our Machine Learning-powered platform.</p>
          <p>Start your journey now and enhance your shopping experience.</p>
          <a class="cta-btn" href="#" onclick="redirectToPage('inner')">Predict</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
            data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left"
            data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Problems Solved</h3>
              <p>
                Four major problems that can be addressed by the "Online Shopper's Intention" project, along with their potential impact in numerical terms:
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Cart Abandonment:</strong> By identifying and addressing cart abandonment issues, businesses can potentially achieve a 10% increase in conversion rates, resulting in a significant boost in sales.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="2"
                      class="purecounter"></span>
                    <p><strong>User Experience Enhancement:</strong> Improving the user experience can lead to a 15% reduction in bounce rates and a 20% increase in average session durations, contributing to better customer engagement.
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                      class="purecounter"></span>
                    <p><strong>Inventory Management Optimization:</strong> Optimizing inventory management can potentially reduce excess inventory costs by 10% and avoid stockouts, leading to increased sales and cost savings.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2"
                      class="purecounter"></span>
                    <p><strong>Personalized Marketing:</strong> Implementing personalized marketing strategies based on user segmentation may result in a 15% increase in click-through rates and a 20% improvement in conversion rates, driving higher revenue.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Carly Fiorina</h3>
                <h4>CEO of Hewlett-Packard</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The goal is to turn data into information, and information into insight.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Bill Gates</h3>
                <h4>CEO of Microsoft</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Your most unhappy customers are your greatest source of learning.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Joel Anderson</h3>
                <h4>CEO of Walmart</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  You can't just open a website and expect people to flood in. If you really want to succeed, you have to create traffic.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Mary Meeker</h3>
                <h4>American venture capitalist</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The Internet has changed everything; it's changed the way we shop, the way we sell, and the way we interact.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Sam Walton</h3>
                <h4>American business magnate</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The goal as a company is to have customer service that is not just the best but legendary.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/Aarjav423"><i class="bi bi-github"></i></a>
                  <a href="https://instagram.com/aarjav423?igshid=OGQ5ZDc2ODk2ZA=="><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/aarjav-jain-08b061227/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Aarjav Jain</h4>
                <span>Team Lead</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/chandu-cpz"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/chandu_cpz/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/chandu-cpz/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>V.Chandrakanth</h4>
                <span>Member</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="http://github.com/Teertho65"><i class="bi bi-github"></i></a>
                  <a href="https://instagram.com/teertho__rc?igshid=N3JyYTdrMnF6cWk4&utm_source=qr"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/teertho-roychoudhury-824129260?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Teertho</h4>
                <span>Member</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/Sarvesh-pr"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/sarvesh_ashish_51/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/sarvesh-ashish-7aa53a222/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarvesh Ashish</h4>
                <span>Member</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

  <script>
    function redirectToPage(page) {
      window.location.href = "/"+page; 
    }
    </script>
    

</body>

</html>